body{
    /* background-color: aqua; */
    background-image: url(https://cdn.avopix.com/photos/detail/d_384011_software-developer-programming-code-on-black.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.title{
    font-weight: bolder;
}

.profile-pic{
    border-radius: px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-width: 20px;
    border-color: lime;
}

.about-me{
    margin-top: 10mm;
    margin-bottom: 10mm;
    background-color: rgb(41, 62, 63);
    color: white;
}

p{
    padding-top: 20px;   
}

.project-card{
    margin: 46px;
}

h2{
    color: rgb(255, 255, 255);
}

.project-pic{
    border-radius: 30px;

}
.project{
    text-align: center;
    color: white;    
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 10mm;
}
.contact{
    color: white;
    text-align: center;
    margin-top: 30%;
    font-weight: bolder;
    font-size: 35px;
}
.contact2{
    color: white;
    text-align: center;
    margin-top: 5%;
    font-weight: bolder;
    font-size: 35px;
}
.bio{
    padding-top: 11%;
};